@import url("https://fonts.googleapis.com/css?family=Montaga&display=swap");
form {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #424242;
  padding: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: 45px auto;
}

form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  form .wrapper {
    height: 300px;
  }
}

@media (max-width: 1200px) {
  form .wrapper {
    display: block;
  }
}

form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
}

@media (min-width: 1200px) {
  form .container {
    height: 100%;
  }
  form .container:last-child {
    margin-left: 50px;
  }
}

form .container .group {
  position: relative;
}

form .container .group input,
form .container .group textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

form .container .group input:focus,
form .container .group textarea:focus {
  outline: none;
}

form .container .group input:focus ~ label,
form .container .group input:valid ~ label,
form .container .group textarea:focus ~ label,
form .container .group textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #fff;
}

form .container .group input:focus ~ .bar:before,
form .container .group textarea:focus ~ .bar:before {
  width: 320px;
}

form .container .group textarea {
  resize: none;
  width: 320px;
}

@media (max-width: 1200px) {
  form .container .group textarea {
    height: 150px;
  }
}

form .container .group label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

form .container .group .bar {
  position: relative;
  display: block;
  width: 320px;
}

form .container .group .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fff;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

form .btn {
  background: #003a51;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

form .btn:hover {
  color: #8b8b8b;
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

form .btn.btn-link {
  background: #003a51;
  color: #336174;
}

form .btn.btn-link:hover {
  background: #f2f2f2;
  color: #26586b;
}

form .btn.btn-submit {
  background: #272727;
  color: #fff;
}

form .btn.btn-submit:hover {
  background-color: #003a51;
}

form .btn.btn-cancel {
  background: #eee;
}

form .btn.btn-cancel:hover {
  color: #003a51;
}

form .btn .btn-box {
  text-align: center;
  margin: 50px 0;
}

#contact {
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

@media (max-width: 768px) {
  #contact {
    display: block;
  }
}

#contact h2 {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

#contact-text {
  color: #000000;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: inherit;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.2;
  word-wrap: break-word;
}

#contact-text p span {
  font-weight: bold;
}

#contact-text p a {
  color: #7171f3;
  text-decoration: underline;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
a {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  background-image: url(../images/background-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 657px;
}

#header-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-text h1 {
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
}

#nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  height: 10%;
  position: absolute;
}

#nav:hover {
  background-color: rgba(0, 0, 0, 0.5);
  height: 15%;
}

#about {
  width: 100%;
  height: 500px;
  background-color: #003a51;
  padding: 50px 0px;
  line-height: 1.2;
  height: 650px;
}

#about-pic {
  height: 300px;
  text-align: center;
}

#about-pic img {
  height: 250px;
  width: 250px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

#about-text {
  margin: 20px auto;
  width: 80%;
}

#about-text h2 {
  text-align: center;
  margin: 15px;
}

#about-text p {
  text-align: justify;
}

#skills {
  text-align: center;
  padding: 30px;
  color: #272727;
}

#skills h2 {
  margin-bottom: 20px;
}

#skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  #skills ul {
    display: block;
  }
  #skills ul li {
    margin-bottom: 30px;
  }
}

#skills ul .fab {
  font-size: 100px;
}

#footer {
  background-color: #272727;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px 100px;
}

#footer-contact {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#footer-contact p:nth-child(odd) {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #footer-contact p:last-child {
    padding-bottom: 20px;
  }
}

#footer #media h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#footer #media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
  width: 100%;
}

#footer #media ul .fab {
  font-size: 30px;
}

#footer #media ul .fa-instagram {
  color: #BC00A8;
}

#footer #media ul .fa-facebook-f {
  color: #3b5a9b;
}

#footer #media ul .fa-github-square {
  color: #007d00;
}

#footer #media ul .fa-sass {
  color: #febe89;
}

@media (max-width: 768px) {
  #footer #media ul {
    margin: 0px;
  }
}

@media (max-width: 768px) {
  #footer #media {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  #footer {
    display: block;
  }
}

#copyright {
  width: 100%;
  text-align: center;
  background-color: #272727;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  #copyright {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */