@import url("https://fonts.googleapis.com/css?family=Montaga&display=swap");

@import "mixins";

@import "variables";

@import "form-matirial";

@import "contact";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a {
  font-size: 20px;
  font-family: $font;
  color: $text-color;
}

a {
  text-decoration: none;
  // color: $text-color;
}

ul {
  list-style: none;
}

#header {
  background-image: url(../images/background-header.jpg);
  @include bg;
  width: 100%;
  height: 657px;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // text-align: center;
  // padding-top: 50px;
  &-text {
    text-align: $align-h;
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;

    h1 {
      // color: $text-color;
      text-transform: uppercase;
      padding: 20px;
      width: 100%;
    }
  }
}

#nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  transition: 500ms ease-in-out;
  height: 10%;
  position: absolute;

  &:hover {
    background-color: $transparent;
    height: 15%;
  }
}

#about {
  width: 100%;
  height: 500px;
  background-color: $main;
  padding: 50px 0px;

  &-pic {
    height: 300px;
    text-align: $align-h;

    img {
      height: 250px;
      width: 250px;
      border: 5px solid $text-color;
      border-radius: 50%;
    }
  }

  &-text {
    margin: 20px auto;
    width: 80%;
    

    h2 {
      text-align: $align-h;
      margin: 15px;
    }

    p {
      text-align: $align-p;
    }
  }
  line-height: 1.2;
  height: 650px;
  // @media (max-width: 991px) {
  //   height: 700px;
  // }
}


#footer {
  background-color: #272727;
  width: 100%;
  text-align: $align-h;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h2 {
    margin: 20px;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    width: 100%;

    .fab {
      font-size: 50px;
    }

    .fa {
      &-youtube {
        color: #ff0000;
      }

      &-instagram {
        color: #da86a1;
      }

      &-facebook-f {
        color: #3b5a9b;
      }

      &-snapchat-ghost {
        color: #fffc00;
      }

      &-github-square {
        color: #007d00;
      }
    }
  }
}

